name: CI
on:
  pull_request:
    branches: [ main ]
jobs:
  golangci-lint:
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@v6

      - name: run golangci-lint
        uses: reviewdog/action-golangci-lint@v2
  test:
    runs-on: ubuntu-latest
    steps:
      - name: check out
        uses: actions/checkout@v6

      - name: setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: run test
        run: go test -v ./...
